---
layout: service-manual
title:  our style; Graphic elements - Solution logos and brands
footer_squared: true
---

<article class="style-sm style-sm-graphic-elements">
    <section class="container">
        <div class="wrapper">
            <h2>Solution Logos and Brands</h2>
            <p>While rooted in the overall SeMI brand, each SeMI solution has its own brand identity. Their main expression are solution icons. These are constructed using planes and lines on the base grid, generating three-dimensional looking items that reference the solution.</p>
            <div class="layout layout--double">
                <div class="layout__column">
                    <figure class="style-sm-figure style-sm-figure-graphic style-sm-figure-graphic--center">
                        <img src="/img/constructing-brand-logo.png"
                             srcset="/img/constructing-brand-logo@2x.png 2x,
                                     /img/constructing-brand-logo@3x.png 3x"
                             alt="Construnction of solution logo example" />
                        <figcaption>
                            <span class="style-sm-figcaption-text">Solution logotypes are constructed using planes on the isometric grid</span>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </section>
    <section class="style-sm-section">
        <div class="container">
            <div class="wrapper">
                <h3>Weaviate</h3>
                <p>An abstracted version of Weaviate’s ‘W’ is constructed using planes and lines that simulate a volumetric figure.</p>
                <p>Weaviate uses the Indigo and Lime colors of SeMI’s color palette. Depending on the intended use, there are different versions of the logo available.</p>
                <p>SeMI uses also distinct logos for the Open Source and Enterprise versions.</p>

                <div class="space-header-page">
                    <h4>Weaviate</h4>
                </div>
                <div class="layout space-layout--bottom">
                    {% include components/playbook/display-logo.html
                        logoSVGUrl='/img/logo-weaviate-emblem-color.svg'
                        logoPNGzip='/img/logo-weaviate-emblem-color.zip'
                    %}
                    {% include components/playbook/display-logo.html
                        logoSVGUrl='/img/logo-weaviate-horizontal-color.svg'
                        logoPNGzip='/img/logo-weaviate-horizontal-color.zip'
                    %}
                    {% include components/playbook/display-logo.html
                        logoSVGUrl='/img/logo-weaviate-color.svg'
                        logoPNGzip='/img/logo-weaviate-color.zip'
                    %}
                </div>
                <div class="layout space-layout--bottom">
                    {% include components/playbook/display-logo.html
                        logoSVGUrl='/img/logo-weaviate-emblem-black.svg'
                        logoPNGzip='/img/logo-weaviate-emblem-black.zip'
                    %}
                    {% include components/playbook/display-logo.html
                        logoSVGUrl='/img/logo-weaviate-horizontal-black.svg'
                        logoPNGzip='/downloads/logo-weaviate-horizontal-black.zip'
                    %}
                    {% include components/playbook/display-logo.html
                        logoSVGUrl='/img/logo-weaviate-black.svg'
                        logoPNGzip='/img/logo-weaviate-black.zip'
                    %}
                </div>
            </div>
        </div>
        <div class="section-standout--tertiary">
            <div class="wrapper">
                <div class="container">
                    <div class="layout space-layout--bottom style-sm-logo--inverse">
                        {% include components/playbook/display-logo.html
                        logoSVGUrl='/img/logo-weaviate-emblem-white.svg'
                        logoPNGzip='/img/logo-weaviate-emblem-white.zip'
                        lightOnDark=true
                        %}
                        {% include components/playbook/display-logo.html
                        logoSVGUrl='/img/logo-weaviate-horizontal-white.svg'
                        logoPNGzip='/img/logo-weaviate-horizontal-white.zip'
                        lightOnDark=true
                        %}
                        {% include components/playbook/display-logo.html
                        logoSVGUrl='/img/logo-weaviate-white.svg'
                        logoPNGzip='/img/logo-weaviate-white.zip'
                        lightOnDark=true
                        %}
                    </div>
                </div>
            </div>
        </div>
        
        
        <!-- weaviate open source -->
        <div class="container">
            <div class="wrapper">
                <div class="space-header-page">
                    <h4>Weaviate Open Source</h4>
                </div>
                <div class="layout space-layout--bottom">
                    {% include components/playbook/display-logo.html
                    logoSVGUrl='/img/logo-weaviate-os-emblem-color.svg'
                    logoPNGzip='/img/logo-weaviate-os-emblem-color.zip'
                    %}
                    {% include components/playbook/display-logo.html
                    logoSVGUrl='/img/logo-weaviate-os-horizontal-color.svg'
                    logoPNGzip='/img/logo-weaviate-os-horizontal-color.zip'
                    %}
                    {% include components/playbook/display-logo.html
                    logoSVGUrl='/img/logo-weaviate-os-color.svg'
                    logoPNGzip='/img/logo-weaviate-os-color.zip'
                    %}
                </div>
                <div class="layout space-layout--bottom">
                    {% include components/playbook/display-logo.html
                    logoSVGUrl='/img/logo-weaviate-os-emblem-black.svg'
                    logoPNGzip='/img/logo-weaviate-os-emblem-black.zip'
                    %}
                    {% include components/playbook/display-logo.html
                    logoSVGUrl='/img/logo-weaviate-os-horizontal-black.svg'
                    logoPNGzip='/img/logo-weaviate-os-horizontal-black.zip'
                    %}
                    {% include components/playbook/display-logo.html
                    logoSVGUrl='/img/logo-weaviate-os-black.svg'
                    logoPNGzip='/img/logo-weaviate-os-black.zip'
                    %}
                </div>
            </div>
        </div>
        <div class="section-standout--tertiary">
            <div class="wrapper">
                <div class="container">
                    <div class="layout space-layout style-sm-logo--inverse">
                        {% include components/playbook/display-logo.html
                        logoSVGUrl='/img/logo-weaviate-os-emblem-white.svg'
                        logoPNGzip='/img/logo-weaviate-os-emblem-white.zip'
                        lightOnDark=true
                        %}
                        {% include components/playbook/display-logo.html
                        logoSVGUrl='/img/logo-weaviate-os-horizontal-white.svg'
                        logoPNGzip='/img/logo-weaviate-os-horizontal-white.zip'
                        lightOnDark=true
                        %}
                        {% include components/playbook/display-logo.html
                        logoSVGUrl='/img/logo-weaviate-os-white.svg'
                        logoPNGzip='/img/logo-weaviate-os-white.zip'
                        lightOnDark=true
                        %}
                    </div>
                </div>
            </div>
        </div>
        <!-- weaviate plugin -->
        <div class="container">
            <div class="wrapper">
                <div class="space-header-page">
                    <h4>Weaviate Plugin</h4>
                </div>
                <div class="layout space-layout--bottom">
                    {% include components/playbook/display-logo.html
                    logoSVGUrl='/img/logo-weaviate-plugin-emblem-color.svg'
                    logoPNGzip='/img/logo-weaviate-plugin-emblem-color.zip'
                    %}
                    {% include components/playbook/display-logo.html
                    logoSVGUrl='/img/logo-weaviate-plugin-horizontal-color.svg'
                    logoPNGzip='/img/logo-weaviate-plugin-horizontal-color.zip'
                    %}
                    {% include components/playbook/display-logo.html
                    logoSVGUrl='/img/logo-weaviate-plugin-color.svg'
                    logoPNGzip='/img/logo-weaviate-plugin-color.zip'
                    %}
                </div>
                <div class="layout space-layout--bottom">
                    {% include components/playbook/display-logo.html
                    logoSVGUrl='/img/logo-weaviate-plugin-emblem-black.svg'
                    logoPNGzip='/img/logo-weaviate-plugin-emblem-black.zip'
                    %}
                    {% include components/playbook/display-logo.html
                    logoSVGUrl='/img/logo-weaviate-plugin-horizontal-black.svg'
                    logoPNGzip='/img/logo-weaviate-plugin-horizontal-black.zip'
                    %}
                    {% include components/playbook/display-logo.html
                    logoSVGUrl='/img/logo-weaviate-plugin-black.svg'
                    logoPNGzip='/img/logo-weaviate-plugin-black.zip'
                    %}
                </div>
            </div>
        </div>
        <div class="section-standout--tertiary">
            <div class="wrapper">
                <div class="container">
                    <div class="layout space-layout style-sm-logo--inverse">
                        {% include components/playbook/display-logo.html
                        logoSVGUrl='/img/logo-weaviate-plugin-emblem-white.svg'
                        logoPNGzip='/img/logo-weaviate-plugin-emblem-white.zip'
                        lightOnDark=true
                        %}
                        {% include components/playbook/display-logo.html
                        logoSVGUrl='/img/logo-weaviate-plugin-horizontal-white.svg'
                        logoPNGzip='/img/logo-weaviate-plugin-horizontal-white.zip'
                        lightOnDark=true
                        %}
                        {% include components/playbook/display-logo.html
                        logoSVGUrl='/img/logo-weaviate-plugin-white.svg'
                        logoPNGzip='/img/logo-weaviate-plugin-white.zip'
                        lightOnDark=true
                        %}
                    </div>
                </div>
            </div>
        </div>
        <!-- weaviate console -->
        <div class="container">
            <div class="wrapper">
                <div class="space-header-page">
                    <h4>Weaviate Console</h4>
                </div>
                <div class="layout space-layout--bottom">
                    {% include components/playbook/display-logo.html
                    logoSVGUrl='/img/logo-weaviate-console-emblem-color.svg'
                    logoPNGzip='/img/logo-weaviate-console-emblem-color.zip'
                    %}
                    {% include components/playbook/display-logo.html
                    logoSVGUrl='/img/logo-weaviate-console-horizontal-color.svg'
                    logoPNGzip='/img/logo-weaviate-console-horizontal-color.zip'
                    %}
                    {% include components/playbook/display-logo.html
                    logoSVGUrl='/img/logo-weaviate-console-color.svg'
                    logoPNGzip='/img/logo-weaviate-console-color.zip'
                    %}
                </div>
                <div class="layout space-layout--bottom">
                    {% include components/playbook/display-logo.html
                    logoSVGUrl='/img/logo-weaviate-console-emblem-black.svg'
                    logoPNGzip='/img/logo-weaviate-console-emblem-black.zip'
                    %}
                    {% include components/playbook/display-logo.html
                    logoSVGUrl='/img/logo-weaviate-console-horizontal-black.svg'
                    logoPNGzip='/img/logo-weaviate-console-horizontal-black.zip'
                    %}
                    {% include components/playbook/display-logo.html
                    logoSVGUrl='/img/logo-weaviate-console-black.svg'
                    logoPNGzip='/img/logo-weaviate-console-black.zip'
                    %}
                </div>
            </div>
        </div>
        <div class="section-standout--tertiary">
            <div class="wrapper">
                <div class="container">
                    <div class="layout space-layout style-sm-logo--inverse">
                        {% include components/playbook/display-logo.html
                        logoSVGUrl='/img/logo-weaviate-console-emblem-white.svg'
                        logoPNGzip='/img/logo-weaviate-console-emblem-white.zip'
                        lightOnDark=true
                        %}
                        {% include components/playbook/display-logo.html
                        logoSVGUrl='/img/logo-weaviate-console-horizontal-white.svg'
                        logoPNGzip='/img/logo-weaviate-console-horizontal-white.zip'
                        lightOnDark=true
                        %}
                        {% include components/playbook/display-logo.html
                        logoSVGUrl='/img/logo-weaviate-console-white.svg'
                        logoPNGzip='/img/logo-weaviate-console-white.zip'
                        lightOnDark=true
                        %}
                    </div>
                </div>
            </div>
        </div>
        <!-- weaviate cloud service -->
        <div class="container">
            <div class="wrapper">
                <div class="space-header-page">
                    <h4>Weaviate Cloud Service</h4>
                </div>
                <div class="layout space-layout--bottom">
                    {% include components/playbook/display-logo.html
                    logoSVGUrl='/img/logo-weaviate-cloud-emblem-color.svg'
                    logoPNGzip='/img/logo-weaviate-cloud-emblem-color.zip'
                    %}
                    {% include components/playbook/display-logo.html
                    logoSVGUrl='/img/logo-weaviate-cloud-horizontal-color.svg'
                    logoPNGzip='/img/logo-weaviate-cloud-horizontal-color.zip'
                    %}
                    {% include components/playbook/display-logo.html
                    logoSVGUrl='/img/logo-weaviate-cloud-color.svg'
                    logoPNGzip='/img/logo-weaviate-cloud-color.zip'
                    %}
                </div>
                <div class="layout space-layout--bottom">
                    {% include components/playbook/display-logo.html
                    logoSVGUrl='/img/logo-weaviate-cloud-emblem-black.svg'
                    logoPNGzip='/img/logo-weaviate-cloud-emblem-black.zip'
                    %}
                    {% include components/playbook/display-logo.html
                    logoSVGUrl='/img/logo-weaviate-cloud-horizontal-black.svg'
                    logoPNGzip='/img/logo-weaviate-cloud-horizontal-black.zip'
                    %}
                    {% include components/playbook/display-logo.html
                    logoSVGUrl='/img/logo-weaviate-cloud-black.svg'
                    logoPNGzip='/img/logo-weaviate-cloud-black.zip'
                    %}
                </div>
            </div>
        </div>
        <div class="section-standout--tertiary">
            <div class="wrapper">
                <div class="container">
                    <div class="layout space-layout style-sm-logo--inverse">
                        {% include components/playbook/display-logo.html
                        logoSVGUrl='/img/logo-weaviate-cloud-emblem-white.svg'
                        logoPNGzip='/img/logo-weaviate-cloud-emblem-white.zip'
                        lightOnDark=true
                        %}
                        {% include components/playbook/display-logo.html
                        logoSVGUrl='/img/logo-weaviate-cloud-horizontal-white.svg'
                        logoPNGzip='/img/logo-weaviate-cloud-horizontal-white.zip'
                        lightOnDark=true
                        %}
                        {% include components/playbook/display-logo.html
                        logoSVGUrl='/img/logo-weaviate-cloud-white.svg'
                        logoPNGzip='/img/logo-weaviate-cloud-white.zip'
                        lightOnDark=true
                        %}
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>
