// button-menu-mobile

.button,
.button--small,
button:not(.button-icon):not(.tabs__tab),
[type='button'],
[type='reset'],
[type='submit'] {
  @include transition-out;
  background: $color-semi;
  border: 0px !important;
  border-radius: $border-radius-1;
  color: $color-white;
  display: inline-block;
  font-family: $typeface-body;
  font-size: 1rem;
  padding: $scale-0 $scale-2;
  text-align: center;

  &:hover, &:focus, &:active, &[aria-selected="true"] {
    @include transition-in;
    border-radius: $border-radius-2;
    outline: none !important;
  }

  &:focus, &:active {
    background: $color-semi-accent;
  }

  &[aria-selected="true"]:not(:focus) {
    background: $color-black;  
  }
}

.button:not(.button--small):not(.button-ui) {
  @include breakpoint(smallOnly) {
    width: 100%;
  }
  @include breakpoint(mediumUp) {
    min-width: 240px;
  }
}

.button--cta {
  background: $color-support;
  //color: $color-black;
  &:hover, &:focus, &:active {
    background: $color-black;
    color: $color-white
  }
}

.button--cta-inverted {
  background: $color-black;
  color: $color-white;
  &:hover, &:focus, &:active {
    background: $color-support;
  }
}

.button--small {
  border-radius: $border-radius-1-sm;
  padding: .5em 1em;
  font-size: 1rem;
  white-space: nowrap;
  &:hover, &:focus, &:active {
    border-bottom: 0;
    border-radius: $border-radius-2-sm;
  }
}

.button--email {
  &:before {
    background: url('/img/icon-email.svg');
    content: '';
    display: inline-block;
    height: .75em;
    margin-right: .5em;
    vertical-align: baseline;
    width: .75em;
  }
}

.button-icon {
  appearance: none;
  background-color: transparent;
  border: none;
}

.button--link {
  appearance: hyperlink;
}

.button-center-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
