
@import '../mixins/mixins-animations';
@import '../mixins/mixins-breakpoints';

.hero {
  width: 100%;
  min-height: 30em;
  position: relative;
  overflow: hidden;
  background-color: $color-black;
}

.hero__title {
  margin-bottom: 0;
}

.hero__content {
  margin-top: 6vh;

  &--row {
    display: flex;
    flex-direction: column;
    // justify-content: stretch;
  }

  &--column {
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 20;
    flex-grow: 1;
  }
}

.hero__links {
  align-items: center;
}

.hero__link {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: $scale-0;
  background-color: white;
  margin-bottom: 1rem;
  @include transitionWidth; 

  &:hover, &:focus {
    width: 28rem;
    padding-right: 51px;

    &:after {
      content: '\21d2';
      width: 30px;
      height: 30px;
      right: 0;
      top: calc(50% - 15px);
      position: absolute;
    }
  }

  &:focus {
    background-color: $color-semi-accent
  }
}

@include breakpoint(toLarge) {
  .hero__text {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .hero__link  {
    width: 100%;
  }
}

@include breakpoint(largeUp) {
  .hero__content {
    margin-top: 8vh;
  
    &--row {
      flex-direction: row;
      justify-content: stretch;
    }
  
    &--column {
      flex-direction: column;
    }
  }
  .hero__links {
    min-width: 35rem;
  }
  .hero__link  {
    width: 25rem;
  }
}

.hero__text {
  // margin-left: auto;
  // margin-right: auto;
  
  @include animateFadeIn();

  &.hero__text--centered {
    text-align: center;

    // honor maximum width of paragraphs
    p {
      margin-left: auto;
      margin-right: auto;
    }
  }

  .button {
    margin-top: 2rem;
  }
}

.cookie-notice--active .hero__text {
  margin-top: 45vh;
}

.hero__cover {
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  video {
    width: 100%;
    max-width: none;
    height: 100vh;
    min-height: 30em;
    max-height: 150vw;
    display: block;
    object-fit: cover;
  }

  &:before {
    content: '';
    background-color: #00152bd4;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
