---
bodyclass: ["page--solutions", " ", "page--solutions-index"]
layout: layout-default
title: Discover the Weaviate solution stack
description: Weaviate solutions and knowledge network offerings
og-img: solutions.jpg
redirect_from:
    - /products
    - /products/index.html
---

<article>
    <div class="container background-hexagon" style="margin-bottom: 5rem;">
        <section class="layout layout--single section-page-intro">
            <div class="section-standout__text--centered space-header-page">
                <!-- <h1 class="title-page header--centered">Core solutions</h1> -->
                <h1 class="title-page header--centered">Discover the Weaviate Solution Stack</h1>
                <!-- <div class="section-standout__text--centered">
                    <p>Our core solution suite consists of the Weaviate vector search engine and Knowledge Networks based on Weaviate.</p>
                </div> -->
            </div>
        </section>
        <section class="wrapper--wide">
            <ul class="cards cards--load-fade-in">
                {% capture carOneContent %}
                    <div class="card__intro">
                        <p><b>Learn more about the solution offering around Weaviate.</b></p>
                    </div>
                {% endcapture %}

                {% include components/card/card.html
                    title="Weaviate"
                    themeClass="card-white card--pilar card--theme-weaviate"
                    imgUrl="/img/logo-icon-weaviate-oss.svg"
                    imgAlt="Weaviate logo"
                    linkUrl="/solutions/weaviate/"
                    linkExternal=false
                    ctaText="Learn more"
                    content=carOneContent
                %}  

                {% capture carOneContent %}
                <div class="card__intro">
                    <p><b>Learn more about our SaaS offerings.</b></p>
                </div>
                {% endcapture %}
            
                {% include components/card/card.html
                    title="Weaviate Cloud Service"
                    themeClass="card-white card--pilar card--theme-weaviate"
                    imgUrl="/img/logo-weaviate-cloud-emblem-color.svg"
                    imgAlt="Weaviate Cloud Service"
                    linkUrl="/solutions/weaviate-cloud-service/"
                    linkExternal=false
                    ctaText="Learn more"
                    content=carOneContent
                %}

                {% capture carOneContent %}
                <div class="card__intro">
                    <p><b>Learn more about the graphical user interface to create use cases on top of Weaviate.</b></p>
                </div>
                {% endcapture %}
            
                {% include components/card/card.html
                    title="Weaviate Console"
                    themeClass="card-white card--pilar card--theme-weaviate"
                    imgUrl="/img/logo-weaviate-console-emblem-color.svg"
                    imgAlt="Weaviate Console"
                    linkUrl="/solutions/weaviate-console/"
                    linkExternal=false
                    ctaText="Learn more"
                    content=carOneContent
                %}
            </ul>
        </section>
    </div>
</article>
