{% include head.html %}

<body class="page--guides">

{% include organism-header.html %}

<main>
    <article class="article container">
        <div class="wrapper--wide guide-container">
            {% include documentation-menu.html %}
            <section itemscope itemtype="http://schema.org/articleBody">
                <!-- include article-breadcrumb.html -->
                
                <section class="guide page-fadein--first">
                    <h1>{{ page.title }}</h1>
                    {% include badges.html %}
                    <p>
                        {{ page.intro }}
                    </p>
                    <div id="table-of-contents">
                        <h1>Index</h1>
                        {{ content | toc_only }}
                    </div>
                    <div>
                        {{ content }}
                    </div>
                </section>
                <dl class="tags tags-in-page">
                    {% include molecule-list-tags.html
                        tags=page.tags
                    %}
                </dl>
            </section>
        </div>
    </article>
</main>

<script src="/js/documentation.sml.js"></script>

{% include organism-footer.html %}