{% include head.html %}

<body class="page--guides">

{% include organism-header.html %}

<main>
    <article class="article container">
        <div class="wrapper--wide guide-container">
            {% include documentation-menu.html %}
            <section itemscope itemtype="http://schema.org/articleBody">
                <!-- include article-breadcrumb.html -->
                <section class="guide page-fadein--first">
                    {{ content }}
                </section>
                <dl class="tags tags-in-page">
                    {% include molecule-list-tags.html
                        tags=page.tags
                    %}
                </dl>
            </section>
        </div>
    </article>
</main>

<script src="/js/documentation.sml.js"></script>

{% include organism-footer.html %}