{% assign sorted_plugins = site.marketplace | sort:"order" %}

{% include head.html %}

<body class="{{page.bodyclass}}">

{% include organism-header.html %}

<main>
    <article class="container">
        <div class="wrapper">
            <div class="article__top-content grid">
                <div class="grid-8">
                    <div class="article-intro"><!-- space-header-page -->
                        {% include article-intro.html %}
                    </div>
                </div>
                <div class="grid-4">
                    <img src="{{ page.imageCard }}" alt="{{ page.imageAlt }}" />
                </div>
            </div>
            <section itemscope itemtype="http://schema.org/articleBody">
                <div class="article">
                    {{ content }}
                </div>
                <div>
                    <p>
                        <a class="card__button button" href="javascript:void(Tawk_API.toggle())" title="Request a demo">Click here to request a demo or learn more about this plugin</a>
                    </p>
                </div>
            </section>
        </div>
    </article>
</main>

{% include organism-footer.html %}