html {
	background: $color-white;
}

.intro {
	section {
		margin: 0 auto;
		max-width: $component-primary-max-width;
	}
}

#intro-why {
	text-align: center;
	h1, h2 {
		font-weight: 700;
	}
}

.nav-main--social {
    padding-top: 0.25rem;
}

.nav-main--social a:hover{
    background-color: transparent !important;
}